& {
  .nav-btn {
    display: block;
    width: 30px;
    height: 40px;
    position: absolute;
    top: 10px;
    left: 10px;
    span {
      height: 2px;
      width: 100%;
      background: #000;
      display: block;
      &:nth-child(2) {
        margin-top: 10px;
        margin-bottom: 10px;
      }
    }
  }
  .nav {
    max-width: 50px;
    z-index: 995;
    min-height: 100vh;
    transition: 0.4s;
    .nav-content {
      display: none;
    }
    &.active {
      max-width: 100%;
      .nav-content {
        display: block;
      }
    }
  }
  .main {
    width: calc(100% - 50px);
  }
  .project-list li .project-box .box {
    width: 100%;
  }
  .main,
  .footer {
    overflow: hidden;
    margin-left: 50px;
  }
  .head #video {
    width: inherit;
    height: 100%;
  }
  .head-title {
    font-size: 40px;
    line-height: 1.1;
  }
  .head-info {
    font-size: 30px;
    line-height: 1;
  }
  .about-title {
    font-size: 35px;
    line-height: 1.2;
    margin-top: 10px;
    margin-bottom: 10px;
  }
  .about-info {
    font-size: 13px;
    line-height: 1.5;
  }
  .iframe {
    margin-top: 0;
  }
  .about-photo {
    margin-top: 20px;
  }
  .xs-first {
    -ms-flex-order: -1;
    order: -1;
  }
  .about-item {
    margin-top: 10px;
    br {
      display: none;
    }
    p {
      font-size: 12px;
      line-height: 1;
      &.bold {
        font-size: 18px;
        line-height: 1;
        margin-bottom: 5px;
      }
    }
  }
  .about,
  .of_work,
  .concept,
  .registration,
  .clients,
  .footer {
    padding: 60px 0;
  }
  .of_work-info {
    font-size: 16px;
  }
  .of_work-grid {
    text-align: center;
  }
  .of_work-grid .of_work-item {
    position: relative !important;
    top: 0 !important;
    left: 0 !important;
    min-width: 240px;
    margin-bottom: 20px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    &:nth-child(5) {
      min-width: 83px;
    }
  }
  .of_work-title {
    font-size: 33px;
    text-align: center;
  }

  .of_work-grid .of_work-item:first-child {
    width: 100%;
    text-align: center;
  }
  .video-btn {
    top: 10%;
    bottom: inherit;
  }
  .head .container:before {
    top: -30px;
  }
  .tab-link li {
    font-size: 14px;
  }
  .concept-title {
    font-size: 35px;
    line-height: 1.2;
    margin-bottom: 20px;
  }
  .concept-list:before {
    width: 100%;
    font-size: 46px;
    line-height: 60px;
  }
  #concept-img {
    margin-top: 20px;
    margin-bottom: 10px;
    img {
      width: 100%;
    }
  }
  .registration-form {
    padding: 30px 20px;
    margin-bottom: 30px;
  }
  .registration-item .title {
    font-size: 27px;
    line-height: 1.2;
    margin-bottom: 20px;
    br {
      display: none;
    }
  }
  .registration-item p {
    br {
      display: none;
      line-height: 1;
      font-size: 14px;
    }
  }
  .clients-list li {
    min-width: 240px;
    margin-left: 0;
    margin-right: 0;
  }
  .clients-title {
    font-size: 35px;
    margin-bottom: 20px;
    line-height: 1;
  }
  .footer-bottom {
    position: relative;
    margin-left: 50px;
    padding: 10px 15px;
    width: inherit;
    left: 0;
    &:after {
      content: " ";
      clear: both;
      display: block;
    }
    
    .footer-list {
      float: none;
      li {
        a {
           line-height: 2;
        }
      }
    }
    .rezart-logo {
      float: right;
      display: block;
      text-align: right;
    }
  }
  .footer {
    p {
      margin-bottom: 20px;
    }
  }
  .clients-list {
    text-align: center;
  }
  .about_info,
  .video {
    padding: 60px 0;
    br {
      display: none;
    }
  }
  .about_info-item {
    margin-top: 20px;
  }
  .fixed-tab {
    transform: rotateZ(0deg);
    position: static;
    text-align: center;
    z-index: 999;
    margin-top: 50px;
  }
  .showroom {
    padding: 60px 0;
    br {
      display: none;
    }
  }
  .showroom-title {
    font-size: 45px;
    line-height: 1.2;
  }
  .showroom-title.small {
    font-size: 25px;
    line-height: 1.2;
    margin-top: 20px;
  }
  .showroom_map-item {
    margin: 20px 0 0;
  }
  .showroom_map-item:before {
    font-size: 50px;
  }
  .showroom_map-item div {
    margin-bottom: 10px;
  }
  .gmap {
    min-height: 215px;
  }
  .showroom_map {
    padding-bottom: 60px;
  }
  .project-list li .project-box {
    position: static;
    max-height: inherit;
    opacity: 1;
    transform: translateY(0%);
    width: 100%;
  }
  .project-list li {
    margin-bottom: 30px;
  }
  .project_h {
    min-height: inherit;
  }
  .project-list li.full-visible .project_h {
    font-size: 24px;
  }
  .project-list {
    margin: 0;
  }
  .project {
    padding: 60px 0;
  }
  .project-title {
    font-size: 45px;
    line-height: 1.2;
  }

  .project_page.fixed .project_page-item {
    position: static;
  }
  .project_page-list li {
    width: inherit;
  }
  .project_page-list li:nth-child(3n+3),
  .project_page-list li:nth-child(3n+3) + li {
    width: inherit;
  }
  .project_page {
    margin-top: 50px;
    padding-bottom: 50px;
  }
  .smi .project-list {
    margin-top: 60px;
  }
  .smi-img {
    width: 100%;
  }
  .smi-img .smi-date {
    top: 100px;
    right: -108px;
  }
  .blog {
    padding: 100px 0;
  }
  .blog-item .item-title {
    font-size: 34px;
  }
  .blog-sidebar {
    margin-top: 35px;
  }
  .post-title {
    font-size: 24px;
    line-height: 1;
  }
  .post {
    padding: 50px 0;
  }
  .post-full_img {
    margin-top: 10px; 
  } 
  .post-item p b {
    font-size: 18px;
    line-height: 1;
  }
  .post-item p {  
    font-size: 15px; 
    line-height: 1;
  }
  .post-img img {
    width: 100%;
  }
  .post-nav li a {
    font-size: 0;
  }
  .share-social li {
    margin: 0;
  }
  .contact {
    padding: 100px 0;
  }
  .success-footer {
  margin-left: 0;
}
  .success:before {
    font-size: 55px;
  }
  .success-title {
    font-size: 70px;
  }
  
  .architecture {
    padding: 60px 0;
  }
  .architecture-title {
    font-size: 35px;
    line-height: 1;
    margin-bottom: 30px;
  }
  .architecture-item .title {
    font-size: 27px;
    line-height: 1;
    margin-bottom: 10px;
    margin-top: 20px;
  }
  .architecture-item p {
    font-size: 14px;
    font-weight: 400;
    line-height: 1;
  }
  .architecture-list {
    margin-top: 75px;
  }
  .architecture-list .text .title {
    font-size: 25px;
    line-height: 1;
    margin-bottom: 10px;
  }
  .architecture-list .text .info p {
    font-size: 12px;
    font-weight: 400;
    line-height: 1;
  }
  .architecture-list .text .info {
    margin-bottom: 20px;
  }
  .about_info-title, .project_page-item .project_page-title {
    font-size: 35px;
    line-height: 1.2;
  }
  .about_info {
    padding: 0;
  }
  .photo-name {
    font-size: 21px;
  }
  .project-item p {
    margin-top: 20px;
    font-size: 14px;
    line-height: 1.2;
  }
  .showroom-content, .project_page-item p {
    font-size: 14px;
    line-height: 1.2;
  }
  .showroom-info {
    font-size: 16px;
    line-height: 1.2;
  }
  .showroom_map-info {
    text-align: center;
  }
}